@model FarmaPlusSA.ViewModel.citasTrabajador

@{
    ViewBag.Title = "Trabajadores";
}

<h2>Trabajadores</h2>
<h4>Agregar trabajador</h4>
<form method="POST">
    <label for="Nombre">Nombre trabajador:</label>
    <input name="Nombre" type="text" id="Nombre" />
    <input type="submit" />
</form>
<hr />
<h2>Filtrar trabajador</h2>
<form method="GET">
    <label for="Nombre">Nombre trabajador:</label>
    <input name="Nombre" type="text" id="Nombre" />
    <label for="estaEnOficina">¿Se encuentra en la oficina el trabajdor?: </label>
    <input name="estaEnOficina" type="checkbox" value="true" id="estaEnOficina" />
    <input type="submit" />
</form>
<hr />
<ul>
    @foreach (var empleado in @Model.Trabajdores)
    {
        <li>
            @empleado.Nombre
        </li>
    }
</ul>